body {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

span, small {
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

a {
  color: brown;
}

h1, h2, h3, h4, p {
  margin: 0;
}

small {
  color: grey;
}

img, video {
  max-width: 92vw;
}

#warning {
  padding: 10px;
  border: solid 2px brown;
  border-radius: 5px;
  color: brown;
}

.posts {
  margin-top: 200px;
}

.post {
  border: 1px solid black;
  margin-bottom: 8px;
  padding: 5px;
}

.user_display_name, .user_nip_05 {
  /* float: left; */
}

.user_display_name {
  font-weight: bold;
}

.user_avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.profile {
  margin-bottom: 5px;
}

.profile_info {
  padding: 8px;
}

@media only screen and (min-width: 960px) {
  body {
    margin: 0 12vw;
  }

  img, video {
    max-width: 72vw;
  }
}
